<template>
  <ParentLayout>
    <template #page-bottom>
        <div class="footer footertext">
            <span>
                <a :href="permalink">Permalink</a>
            |</span>
            <span> Updated {{ lastUpdated }} |</span>
            <span> Visits: {{ $visitCount }}</span>
        </div>
    </template>
  </ParentLayout>
</template>

<script>

import ParentLayout from '@vuepress/theme-default/layouts/Layout.vue'

export default {
    name: 'Layout',
    
    components: {
        ParentLayout
    },

    computed: {
        permalink() {
            return this.$frontmatter.permalink || '-'
        },
        lastUpdated() {
            return new Date(this.$page.git.updatedTime).toISOString().slice(0, 10)
        }
    }
}
</script>

<style scoped>
    .footertext {
        text-align: center;
        font-size: 11px;
    }
</style>