<template>
	<img
		:src="iconurl"
		:alt="alttext"
		:style="getSize + getFilter + getFloat"/>
</template>
<script>
export default {
  name: 'adimg',
  props: {
    type: {
      type: String,
      required: false
    },
	project: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	dataset: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	concept: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	scenario: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	questionnaire: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	questionnaireresponse: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	questionnaireedit: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	transaction: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	transactioninitial: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	transactionback: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	transactionstationary: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	terminology: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	valueset: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	codesystem: {
	  type: Boolean,
	  required: false,
	  default: false
	},	
	identifier: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	rules: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	profile: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	template: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	issue: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	implementation: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	implementationguide: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	package: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	publication: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	repository: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	cache: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	choice: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	history: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	owl: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	server: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	floatright: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	governancegroups: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	folder: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	label: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	boolean: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	decimal: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	integer: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	date: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	datetime: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	time: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	string: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	text: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	url: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	choice: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	openchoice: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	attachment: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	reference: {
	  type: Boolean,
	  required: false,
	  default: false
	},
	quantity: {
	  type: Boolean,
	  required: false,
	  default: false
	}
  },
  computed: {
	iconurl () {
		  // const admdiurl = "https://docs.art-decor.org/mdi/"
		  const admdiurl = "/mdi/"
		  if (this.type === undefined) {
			  return admdiurl + this.getIconName + ".png"
		  } else {
			  return admdiurl + "hammer-wrench" + ".png" // this.type + ".png"
		  }
	},
	getIconName () {
		if (this.project) return 'briefcase'
		if (this.dataset) return 'book-open-blank-variant'
		if (this.concept) return 'cube'
		if (this.scenario) return 'movie'
		if (this.questionnaire) return 'comment-question'
		if (this.questionnaireresponse) return 'comment-check'
		if (this.questionnaireedit) return 'comment-edit'
		if (this.transaction) return 'swap-horizontal-bold'
		if (this.transactioninitial) return 'arrow-right-bold'
		if (this.transactionback) return 'arrow-left-bold'
		if (this.transactionstationary) return 'file-document'
		if (this.terminology) return 'web'
		if (this.valueset) return 'heart'
		if (this.codesystem) return 'format-list-bulleted-type'
		if (this.identifier) return 'numeric'
		if (this.rules) return 'check-circle'
		if (this.profile) return 'fire'
		if (this.template) return 'recycle'
		if (this.issue) return 'flag'
		if (this.history) return 'history'
		if (this.choice) return 'arrow-decision'
		if (this.implementation) return 'application-import'
		if (this.implementationguide) return 'book-information-variant'
		if (this.package) return 'treasure-chest'
		if (this.publication) return 'bookshelf'
		if (this.repository) return 'cloud'
		if (this.cache) return 'database-check'
		if (this.owl) return 'owl'
		if (this.server) return 'server'
		if (this.governancegroups) return 'home-city-outline'
		// types
		if (this.folder) return 'folder'
		if (this.label) return 'tag-text-outline'
		if (this.boolean) return 'toggle-switch-outline'
		if (this.integer) return 'counter'
		if (this.decimal) return 'decimal'
		if (this.date) return 'calendar-outline'
		if (this.datetime) return 'calendar-clock'
		if (this.time) return 'clock-outline'
		if (this.string) return 'alphabet-latin'
		if (this.text) return 'subtitles-outline'
		if (this.url) return 'network'
		if (this.choice) return 'human-male-female'
		if (this.openchoice) return 'arrow-decision-auto'
		if (this.attachment) return 'attachment'
		if (this.reference) return 'link'
		if (this.quantity) return 'beaker-outline'
		return 'hammer-wrench'
	},
	alttext () {
		  return "ART-DECOR " + this.type
	},
	getSize () {
		return 'width: 30px;'
	},
	getFilter () {
		  return 'filter: invert(54%) sepia(0%) saturate(1327%) hue-rotate(197deg) brightness(86%) contrast(91%);'
	},
	getFloat () {
		return this.floatright ? 'float: right;' : ''
	}
  }
}
</script>
<style scoped>

</style>