<template>
    <span class="tbadge" style="vertical-align: top;" :class="getColor()">{{ text }}</span>
</template>
<script>
export default {
  name: 'badge',
	props: {
		text: {
			type: String,
			required: false,
			default: '?'
		},
		green: {
			type: Boolean,
			required: false,
			default: false
		},
		blue: {
			type: Boolean,
			required: false,
			default: false
		},
		red: {
			type: Boolean,
			required: false,
			default: false
		},
		purple: {
			type: Boolean,
			required: false,
			default: false
		}
	},
	methods: {
		getColor: function () {
			if (this.green) { return 'tgreen' }
			if (this.blue) { return 'tblue' }
			if (this.orange) { return 'tamber' }
			if (this.red) { return 'tred' }
			if (this.purple) { return 'tpurple' }
			return 'tamber'
		}
	}
}
</script>
<style scoped>
.tbadge {
	padding: 4px 6px;
	border-radius: 20px;
	font-weight: 500;
	font-size: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	margin: 0 5px;
	cursor: pointer;
}
.tamber {
	background:#fbde87;
	color:#735705;
}
.tblue {
	background:#b2dbfc;
	color: #276393;
}
.tgreen {
	background:#b4e0b6;
	color: #3c613c;
}
.tred {
	background:#f6acab;
	color: rgb(145, 24, 24);
}
.tpurple {
	background:#cfb2f9;
	color: rgb(115, 51, 141);
}
</style>