<template>
  <span>{{ currentYear }}</span>
</template>
<script>
export default {
  name: 'currentYear',
  computed : {
		currentYear () {
			return new Date().getFullYear()  // returns the current year
		}
	}
}
</script>
