<template>
  <span class="lerror"> </span>
</template>
<script>
export default {
  name: 'error'
}
</script>
<style scoped>
.lerror {
	height: 24px;
  	width: 24px;
	border-radius: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	display: inline-block;
	margin: 0px 2px;
	background:#EF9A9A;
	color: white;
}
</style>