<!--
	Flag icons from https://flagcdn.com/56x42/xx.png with xx ISO 3166-1 country code
	<Flag country="IT"/>
-->
<template>
    <span style="display: inline; white-space: nowrap;">
		<img
		:src="'https://flagcdn.com/56x42/' + getSRC + '.png'"
		width="21"
		height="16"
		:alt="'Flag ' + country">
		{{ country }}
	</span>
</template>

<script>

export default {
	name: 'flag',
	props: {
		country: {
			type: String,
			required: true,
			default: 'DE'
			}
  	},
  	computed : {
		getSRC () {
			if (this.country === 'DE') return 'de'
			if (this.country === 'NL') return 'nl'
			if (this.country === 'CA') return 'ca'
			if (this.country === 'AT') return 'at'
			if (this.country === 'CH') return 'ch'
			if (this.country === 'PL') return 'pl'
			if (this.country === 'IT') return 'it'
			if (this.country === 'FR') return 'fr'
			if (this.country === 'ES') return 'es'
			if (this.country === 'GB') return 'gb'
			if (this.country === 'US') return 'us'
			if (this.country === 'EU') return 'eu'
			return 'de'
		}
	}
}
</script>

<style scoped>

</style>