<template>
  <span class="linfo" style="vertical-align: top;"> </span>
</template>
<script>
export default {
  name: 'info'
}
</script>
<style scoped>
.linfo {
	height: 24px;
  	width: 24px;
	border-radius: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	display: inline-block;
	margin: 0px 2px;
	background:#90CAF9;
	color: white;
}
</style>