<template>
	<div style="width: 100px; margin-top: 20px; border-top: 1px solid grey;">
	<img :src="iconurl" alt="the-end" style="margin-top: 3px; width: 37px;"/>
	<a href="/konec">konec</a>
	</div>
</template>
<script>
export default {
  name: 'konec',
  computed: {
	iconurl () {
		  // const admdiurl = "https://docs.art-decor.org/mdi/"
		  const admdiurl = "/mdi/"
		  return admdiurl + "krtek.png"
	}
  }
}
</script>