<template>
  <span class="mbadge" style="vertical-align: top;">LIVE!</span>
</template>
<script>
export default {
  name: 'live'
}
</script>
<style scoped>
.mbadge {
	padding: 4px 6px;
	border-radius: 20px;
	font-weight: 600;
	font-size: 11px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	margin: 0 10px;
	cursor: pointer;
	background:#9df10c;
}
</style>