<template>
    <span class="rbadge" style="vertical-align: top;">NEW</span>
</template>
<script>
export default {
  name: 'new'
}
</script>
<style scoped>
.rbadge {
	padding: 4px 6px;
	border-radius: 20px;
	font-weight: 600;
	font-size: 11px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	margin: 0 10px;
	
	cursor: pointer;

  background:#6fbd0a;
	color: whitesmoke;
}
</style>