
<template>
  <div v-if="filteredNewsItems.length > 0">
    <div
      v-for="(n, i) in filteredNewsItems"
      :key="i"
      :style="getUrgentNewsStyle(n.type)"
      >
        <span v-html="n.text[0]['#text']"></span>
      </div>
    </div>
  <div v-else-if="newslist === null">Wait..</div>
  <div v-else>None.</div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'NewsBannerMAIN',
  props: {
    server: {
      type: String,
      required: false,
      default: 'HIGH'
    }
  },
  data () {
    return {
      newslist: null,
    }
  },
  computed: {
    filteredNewsItems () {
      const now = new Date()
      if (this.newslist === null) return []
       if (this.newslist.total < 1) return []
      return this.newslist.news.filter(item => {
        const newsDate = new Date(item.showuntil)
        return newsDate.getTime() >= now.getTime()
      })
    }
  },
  methods: {
    getUrgentNewsStyle: function (type) {
      const prefix = 'color: white; padding: 3px 10px; background-color: '
      let color = '#2196f3'
      if (type === 'warning') color= '#fb8c00'
      if (type === 'error') color= '#ff5252'
      return prefix + color
    },
    getURL4Server (name) {
      if (name === 'HIGH') return 'https://new.art-decor.org/exist/apps/api/news'
      if (name === 'NEW') return 'https://new.art-decor.org/exist/apps/api/news'
      if (name === 'DEVELOP') return 'https://develop.art-decor.org/exist/apps/api/news'
      if (name === 'NEWBIE') return 'https://newbie.art-decor.org/exist/apps/api/news'
      if (name === 'ACCEPTANCE') return 'https://acceptance.art-decor.org/exist/apps/api/news'
      if (name === 'AUX') return 'https://repository.art-decor.org/exist/apps/api/news'
      return null
    }
  },
  beforeMount () {
    const apiurl = this.getURL4Server(this.server)
    if (apiurl) {
      axios.get (apiurl)
        .then(response => {
          this.newslist = JSON.parse(JSON.stringify(response.data))
        })
        .catch(error => {
          console.log(error)
          return 'None.'
        })
    }
  }
}
</script>
<style scoped>
</style>