<template>
  <span class="mbadge" style="vertical-align: top;">RECOMMENDED</span>
</template>
<script>
export default {
  name: 'recommended'
}
</script>
<style scoped>
.mbadge {
	padding: 4px 6px;
	border-radius: 20px;
	font-weight: 600;
	font-size: 11px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	margin: 0 10px;
	
	cursor: pointer;

  background:#f1870c;
	color: whitesmoke;
}
</style>