<template>
    <span class="chip">{{number}}</span>
</template>
<script>
export default {
  name: 'refn',
  props: {
    number: {
      type: String,
      required: false,
      default: '1'
    }
  }
}
</script>
<style scoped>
.chip {
	padding: 8px 12px;
  min-width: 20px;
	border-radius: 20px;
	font-weight: 600;
	font-size: 15px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	margin: 0 10px;
	
	cursor: pointer;

  background:#f1870c;
	color: whitesmoke;
}
</style>