<template>
<!-- not yet working with v-iicon vuetify and mdi-icons
    <v-icon
      :class="larger === true ? 'mdi-24px pa-0' : 'mdi-18px pa-0'"
      :color="getStatusColor(status, false)"
      >circle</v-icon
    >
    -->
    <span>
      <span v-if="large" class="circle dlarge" :style="'color: ' + getStatusColor(status)"/>
      <span v-else-if="small" class="circle dsmall" :style="'color: ' + getStatusColor(status)"/>
      <span v-else class="circle dnormal" :style="'color: ' + getStatusColor(status)"/>
    </span>
</template>
<script>
export default {
  name: 'StatusDot',
  props: {
    status: {
      type: String,
      required: false,
      default: 'new'
    },
    icon: {
      type: String,
      required: false,
      default: 'mdi-checkbox-blank-circle'
    },
    small: {
      type: Boolean,
      required: false,
      default: false
    },
    large: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {
    getStatusColor: function (status) {
      if (status === 'draft') { return '#FFD54F' } // amber lighten-2
      if (status === 'deprecated') { return '#90CAF9' } // blue lighten-3
      if (status === 'final') { return '#A5D6A7' } // green lighten-3
      if (status === 'active') { return '#A5D6A7' } // green lighten-3
      if (status === 'rejected') { return '#F48FB1' } // pink lighten-2
      if (status === 'pending') { return '#FFB74D' } // orange lighten-2
      if (status === 'cancelled') { return '#90CAF9' } // blue lighten-3
      if (status === 'retired') { return '#90CAF9' } // blue lighten-3
      if (status === 'closed') { return '#A5D6A7' } // green lighten-3
      if (status === 'open') { return '#EF9A9A' } // red lighten-3
      if (status === 'inprogress') { return '#FFB74D' } // pink lighten-2
      if (status === 'feedback') { return '#FFB74D' } // orange lighten-2
      if (status === 'closed') { return '#A5D6A7' } // green lighten-3
      if (status === 'rejected') { return '#FFB74D' } // pink lighten-2
      if (status === 'deferred') { return '#CE93D8' } // purple lighten-3
      if (status === 'cancelled') { return '#FFB74D' } // pink lighten-2
      if (status === 'failed') { return '#EF9A9A' } // red lighten-3
      if (status === 'experimental') { return '#FFAB91' } // deep-orange lighten-3
      return '#BDBDBD' // grey lighten-1
    }
  }
}
</script>
<style scoped>
  .circle:after {
    content: '\25CF'
  }
  .dlarge {
    font-size: 32px;
  }
  .dnormal {
    font-size: 24px;
  }
  .dsmall {
    font-size: 16px;
  }
</style>