<template>
  <span v-if="level > 0" :style="indentStyle">&#9492;</span>
</template>
<script>
export default {
  	name: 'tree',
    props: {
		level: {
			type: String,
			required: false,
			default: "0"
		}
  	},
	computed : {
		indentStyle () {
			return 'padding-left: '  + this.level * 0.7 + 'em'
		}
	}
}
</script>