<template>
    <span class="vbadge">{{versionString}}</span>
</template>

<script>
import v from '../../version/version.json'

export default {
  name: 'version',
  data () {
	  return {
		  version : v
	  }
  },
  computed : {
	  versionString () {
		  return this.version.version + (this.version.rev != 'REV' ? '.' + this.version.rev : '.$rev$')
	  }
  }
}
</script>

<style scoped>
.vbadge {
	padding: 4px 6px;
	border-radius: 20px;
	font-weight: 900;
	font-size: 11px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	margin: 0 5px;
	
	cursor: pointer;

  	background:#406cfc;
	color: white;
}
</style>