<template>
  <span class="lwarning" style="vertical-align: top;"> </span>
</template>
<script>
export default {
  name: 'warning'
}
</script>
<style scoped>
.lwarning {
	height: 24px;
  	width: 24px;
	border-radius: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	display: inline-block;
	margin: 0px 2px;
	background:#FFD54F;
	color: whitesmoke;
}
</style>