<template>
    <div style="padding: 30px;">
        <main aria-labelledby="main-title" class="home">
        <header class="hero">
            <img src="/blinking-eye-ad-logo2.gif" width="100px"></img>
            <h1>404</h1>
            <h2>Oops!</h2>
            <p>The requested resource could not be found on docs.art-decor.org</p>
            <p class="action">
                <a href="/" class="nav-link action-button">Return to home → </a>
            </p>
        </header>
        </main>
    </div>
</template>

<script>
import ParentLayout from '@parent-theme/layouts/Layout.vue'

export default {
    name: "NotFound",
    components: {
        ParentLayout
    }
};
</script>